div.home {
  background-color: #6A7F98;
  height: 100vh!important;
  width: 100vw!important;
}

.folder-grid {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #1976d2;
  scrollbar-width: thin;
  max-height: calc(100vh - 6rem);
  padding-bottom: 5vh!important;
}

.header-buttons {
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
}
